*.opensdf
*.orig
*.sdf
*.tlog
*.ucl
*.~bak
/Animations/
/Cache/
/DarkestHour/
/ForceFeedback/
/Help/
/KarmaData/
/Manual/
/Maps/
/Music/
/Sounds/
/StaticMeshes/
/Textures/
/Web/
AHZ_ROVehicles/
Core/
DarkestHourDev/
DarkestHourDev/System/DarkestHourDev.ini
DarkestHourDev/System/DarkestHourDevUser.ini
Editor/
Engine/
Fire/
Gameplay/
GUI2K4/
IpDrv/
ROAmmo/
ROCustom/
ROEffects/
ROEngine/
ROGame/
ROInterface/
ROInventory/
RORoles/
ROVehicles/
ScreenShots/
Unrealed/
UnrealGame/
UTV2004c/
UTV2004s/
UWeb/
XAdmin/
XGame/
XInterface/
XVoting/
XWebAdmin/
DH__TEMP source (smoke, Guns, chutes, rockets, Veh)/
MareNostrum/
NEWSystem (with older file versions plus custom files)/
Red OrchestraRMFSystemstuff/
SystemOLD/
Tank reset test/
tools/
reslists/
turul/
UserLogs/
CC/
AHZ vehicle pack/
EH-M43/
COMPILE.bat
ROclient.bat
ROserver.bat
DH__TEMP source move/
DH_AdminMenuMutator_WIP/
/System/*.det
/System/*.int
/System/AHZ_ROVehicles.u
/System/*.blob
/System/*.u
/System/*.bat
/System/config/*.vdf
/System/editorres/*.bmp
/System/logs/*.txt
/System/*.dll2
/System/*.fxc
/System/*.bmp
/System/*.dmp
/System/*.zip
/System/*.md5
/System/*.txt
/System/*.sav
/System/sadfasdf
/System/sdfMicrosoft
/System/ucc
/System/*.upl
/System/Microsoft
/System/ArmoredBeasts2.ini
/System/Build.ini
/System/ChatRestriction.ini
/System/DefUnrealEd.ini
/System/DefUser.ini
/System/Default.ini
/System/Manifest.ini
/System/MapGrenades.ini
/System/MapVoteHistory.ini
/System/RedOrchestra.ini
/System/ServerFilters.ini
/System/UPlaylists.ini
/System/UnrealEdTips.ini
/System/User.ini
/System/unrealed.ini
